---
title: Guardtime Blockchain-enabled Service Broker for Pivotal Cloud Foundry
owner: Partners
---

This documentation describes the Guardtime Blockchain-enabled Service Broker for Pivotal Cloud Foundry (PCF). By using the Guardtime Blockchain-enabled Service Broker, applications and application service instances can sign data using Guardtime's Keyless Signature Infrastructure (KSI) that provides cryptographic signatures in real time.

The Guardtime Blockchain-enabled Service Broker registers a service broker on PCF and exposes the Guardtime Blockchain Services service on the Marketplace. Developers can create service instances of Guardtime Blockchain Services and bind them to their applications using Apps Manager or the cf Command Line Interface (CLI). Bound applications can sign and verify data using Guardtime KSI.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Guardtime Blockchain-enabled Service Broker for Pivotal Cloud Foundry Details:</dt>
<dd><strong>Version</strong>: 0.0.8 </dd>
<dd><strong>Release Date</strong>: 06-07-2017</dd>
<dd><strong>Software component version</strong>: Guardtime Blockchain-enabled Service Broker for Pivotal Cloud Foundry 0.0.8</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.5.x, 1.6.x, 1.7.x, 1.8.x, 1.9.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.4.x, 1.5.x, 1.6.x, 1.7.x, 1.8.x, 1.9.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

The Guardtime Blockchain-enabled Service Broker has the following requirements:

* A Guardtime KSI blockchain service endpoint, port, administrator account, and administrator password. See the [License](#license) section below for information about obtaining a Guardtime KSI 60-day free trial.  
* The Redis for PCF tile. The Guardtime Blockchain-enabled Service Broker uses a Redis datastore to hold metadata and binding information. For more information about how to install Redis for PCF, see the [documentation](https://docs.pivotal.io/redis/index.html). 

<p class="note"><strong>Note</strong>: In a development environment, you can run a local Redis server instead of the Redis for PCF tile. See the <a href="http://redis.io/topics/quickstart">Redis documentation</a> for more information.</p>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list and to the [Guardtime Pivotal Support Center](mailto:pivotal.support@guardtime.com).

## <a id='license'></a>License

Customers interested in using Guardtime KSI can obtain a 60-day free trial license from Guardtime Support by contacting the [Guardtime Pivotal Support Center](mailto:pivotal.support@guardtime.com).
